// I gather this file is a starting point for the project.
@import "bootstrap";

// html, body
#map {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 600px;
    }
// Include responsive Bootstrap styles
// @import "bootstrap-responsive";